div.bdaysannsbanner {
    text-align: center;
    color: var(--primary);
    background-color: var($banner_background_color);
    padding: 3px;
    //border-radius: 3px;
    margin: 3px;
}

div.anns {
    border-bottom: 1px solid black;
    margin-bottom: 3px;
    padding-bottom: 3px;
}
