div.bdaysannsbanner {
    text-align: center;
    color: var(--primary);
    background-color: var(--tertiary-low);
    padding: 3px;
    border-radius: 3px;
    margin: 3px;
}

div.anns {
    border-bottom: 3px solid black;
}
